<footer id="footer" class="footer light">
  <div class="container">
    <div class="footer-content row">
      <div class="col-sm-4">
        <div class="logo-wrapper">
          <img src="/img/logo.png" alt="logo">
        </div>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco. Qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Nisi ut aliquid ex ea commodi consequatur?</p>
        <p><strong>John Doeson, Founder</strong>.</p>
      </div>
      <div class="col-sm-5 social-wrap">
        <div class="footer-title">Social Networks</div>
        <ul class="list-inline socials">
          <li><a href="#"><i class="icon facebook square"></i></a></li>
          <li><a href="#"><i class="icon google plus square"></i></a></li>
          <li><a href="#"><i class="icon twitter square"></i></a></li>
          <li><a href="#"><i class="icon pinterest square"></i></a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="footer-title">Our Contacts</div>
        <ul class="list-unstyled">
          <li>
            <span class="icon icon-chat-messages-14"></span>
            <a href="mailto:info@startup.ly">info@startup.ly</a>
          </li>
          <li>
            <span class="icon icon-seo-icons-34"></span>
            2901 Marmora road, Glassgow, Seattle, WA 98122-1090
          </li>
          <li>
            <span class="icon icon-seo-icons-17"></span>
            1 - 234-456-7980
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">startup.ly 2014. All rights reserved.</div>
</footer>
