<header>
  <nav class="navigation navigation-header" ng-class="{'fixmenu-clone fixmenu-stick':navStick}">
    <div class="container">
      <div class="navigation-brand">
        <div class="brand-logo">
          <a href="/"><span class="sr-only thin">
            Takh<span class="default-color">Shila</span>
          </span></a>
        </div>
        <button class="navigation-toggle visible-xs" type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navigation-navbar" ng-class="!navCollapsed && 'open'">
        <ul class="navigation-bar navigation-bar-right">
          <li class = "featured" ng-show="!navStick"><a class = "button" ng-class="{'sliding-middle-out':navStick}" ng-click="open_login_modal();" lx-ripple><span>Signup / Login</span></a></li>
          <li ng-show="navStick"><a class = "sliding-middle-out" ng-href = "#" ng-click="open_login_modal();"><span>Signup / Login</span></a></li>
          <li><a class = "sliding-middle-out" ng-href="/teach"><span>Are you a teacher ?</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
